.NavBarHorizontal {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 91px;
    background: #020203;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;   
    justify-content: space-between;
    align-items: center;
}

.container-logo {
    display: flex;
    flex-direction: row; 
    align-items: center;  
    padding-left: 29px;
    gap: 10px;
   
}

.logo {
    width: 57px;
    height: 57px;
}

.nameSite {
    width: 109px;
    height: 24px;
}

.NavBarHorizontal a {
    color: #FFF;
    font-family: "Roboto";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    padding-right: 50px;
}