.sessionDuration{
    background-color: #F00000;
    border-radius: 5px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.0);
}

.legend-lineChart { 
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    opacity: 0.504;
}