#root {
  min-width: 1024px;
  min-height: 780px;
  margin: 0 auto;
}

/* App.css */
.app-container {
  position: relative;
  display: flex;
}

.NavBarHorizontal {
  position: absolute;
  z-index: 100;
}

.NavBarVertical {
  position: absolute;
  z-index: 99;
}

.page-content{
  padding-left: 60px;
  padding-top:  60px;
}



