.dashboard-container {

}

.container-id {
}

.title-name {
    color: #000;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
}

.txt-firstName  {
    color: #FF0101;
}

.txt-congratulation {
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}