

.dashboard-container-id {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 50px;
    margin-top: 60px;
}

.dashboard-title-name {
    color: #000;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    margin: 0;
}

.dashboard-txt-firstName  {
    color: #FF0101;
}

.dashboard-txt-congratulation {
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
}

.dashboard-dashboard-container {
    display: flex;
    flex-direction: column;

}

.dashboard-container-data {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.dashboard-container-chart {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    
}

.componentDailyDataChart {
    grid-row: 1;
    grid-column: span 3;
    
}

.componentSessionDurationChart {
    grid-row: 2;
    grid-column: span 1;
}
.componentActivityCarriedOut{
    grid-row: 2;
    grid-column: span 1;
}
.componentDailyScore {
    grid-row: 2;
    grid-column: span 1;
}

/* 
.dashboard-container-stats-chart{
    display: flex;
    align-items: center;
    justify-content: space-between; 
} */

.dashboard-container-keyDatas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
}